* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    align-items: center;

    & .clean__sector {
        min-width: 100%;
        height: 200px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 90px;
        text-align: center;
        color: #54b3d6;
    }

    & .top__sector {
        min-width: 100%;
        height: 250px;
        background: url('../assets/backgrounds/background_list.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-attachment: fixed;
    }

    & .middle__sector {
        display: flex;
        min-width: 100%;
        justify-content: space-around;
    }
}

.wrapper {
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../assets/backgrounds/background.png') no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1000px;
    background-color: rgb(255, 255, 255, 0.9);
    min-height: 580px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.nav__link {
    text-decoration: none;
    margin: 20px;
    border: none;
    font-size: 20px;
    background: none;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1.5px 1px 2px black;

    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #a1e6ff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    &:hover {
        box-shadow: inset 100px 0 0 0 #54b3d6;
        color: white;

    }
}


.icon__header {
    width: 150px;
    margin: 20px 0;
}

.link__area {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer {
    & .social__icon {
        width: 25px;
        margin-right: 7px;

        &-git {
            width: 110px;
        }
    }

}


.paymend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 580px;
    min-width: 80%;
    flex-direction: column;

    & .paymend__sector {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 100%;

        & .total__count {
            font-size: 30px;
            color: #54b3d6;
            margin-left: -50px;
        }

        & .paymend__sector-forms {
            display: flex;
            flex-direction: column;

            & h3 {
                color: #54b3d6;
                font-size: 25px;
            }

            & input {
                border: 2px solid #54b3d6;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-size: 18px;

                &:hover {
                    border: 2px solid #00bbff;
                }
            }

            & form {
                margin-bottom: 20px;

            }
        }
    }
}